:root {

	/* All values declared as variables here */
	--bg-dark:  			#1F1F1F;
	--bg-light: 			#2b2b2b;
	--bg-highlight: 		#363636; /* also border */
	--bg-highdark:			#161616;
	--bg-light-blue:		#a6bfd9;

	--text-bg:				#5F6368;
	--text-dark:			#AAAAAA;
	--text-light:			#FFFFFF;
	--text-link:			#1a94ff;
	--text-link-visited: 	#8a66ff;
	--text-green:			#36C263;
	--text-red:				#E05A5A;
	--text-blue:			#3939FF;

	/* mappings from base colors to site-specific variables should be done in the site-specific :root */


	/* dark scroll bar */
	scrollbar-color: var(--bg-highlight) var(--bg-dark) !important;
}

/* TODO: add suffix to variables to avoid collisions w/ unstyled websites */

@-moz-document domain(www.DEPRECATEDgoogle.com) {

	:root {
		--google-search-bar-bg: var(--bg-light);
		--google-border-color: var(--bg-highlight);
	}


	/* ************************************************************************ BEGIN base page */
	#hptl a { /* left header links color */
		color: var(--text-dark) !important;
	}

	.gb_g { /* right header link color */
		color: var(--text-dark) !important;
	}

	.gb_D.gb_pc { /* invert service menu color */
		filter: invert();
	}

	.gNO89b, .RNmpXc { /* search button */
		background: var(--bg-highdark) !important;
		border: 1px solid var(--bg-highlight) !important;
		color: var(--text-dark) !important;
	}

	.gNO89b:hover, .RNmpXc:hover { /* search button hover highlight */
		background: var(--bg-highlight) !important;
	}

	#SIvCob { /* "Google offered in" */
		color: var(--text-dark) !important;
	}

	#SIvCob>a { /* "google offered in" language link color */
		color: var(--text-link) !important;
	}

	#SIvCob>a:visited { /* "google offered in" language link color */
		color: var(--text-link-visited) !important;
	}

	/* ************************************************************************ END base page */


	/* ************************************************************************ BEGIN all page */

	/* ************************************************ BEGIN background */
	body {
		background: var(--bg-dark) !important;
	}

	#hdtbSum {
		background: var(--bg-dark) !important;
	}

	.appbar {
		background: var(--bg-dark) !important;
	}

	.sfbg.nojsv {
		background: var(--bg-dark) !important;
	}

	#hdtb {
		border-bottom: 1px solid var(--google-border-color) !important;
	}

	#fbar { /* footer background and border */
		background: var(--bg-dark) !important;
		border-top: 1px solid var(--google-border-color) !important;
	}

	.b2hzT { /* footer middle border */
		border-bottom: 1px solid var(--google-border-color) !important;
	}

	.vk_c { /* money conversion widget bg */
		background-color: var(--bg-highdark) !important;
	}

	#swml { /* footer separator */
		border-left: 1px solid var(--bg-highlight) !important;
	}

	.MGqjK, .VibNM { /* video results bg */
		background-color: var(--bg-highdark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.kp-blk { /* special boxes (featured snippets, people also ask) bg */
		background-color: var(--bg-highdark) !important;
	}

	.sfbg { /* all results top banner bg */
		background-color: var(--bg-dark) !important;
	}
	/* ************************************************ END background */

	/* ************************************************ BEGIN results */
	.s { /* snippet text */
		color: var(--text-dark) !important;
	}

	.aCOpRe em { /* highlighted keywords */
		color: var(--text-light) !important;
	}

	.LC20lb { /* result headlines */
		color: var(--text-link) !important;
	}

	a:visited .LC20lb { /* visited result headlines */
		color: var(--text-link-visited) !important;
	}

	.gL9Hy, .gL9Hy>a { /* corrected search */
		color: var(--text-link) !important;
	}

	.spell_orig, .spell_orig>a { /* original search */
		color: var(--text-link) !important;
	}

	.iUh30 { /* source links */
		color: var(--text-bg) !important;
	}

	.GHDvEf { /* source link downward arrows background */
		background-color: var(--bg-dark) !important;
	}

	.fl { /* translate link */
		color: var(--text-link) !important;
	}

	.fl:visited { /* translate link visited */
		color: var(--text-link-visited) !important;
	}

	.kp-blk { /* "people also ask" border */
		border: 1px solid var(--google-border-color) !important;
	}

	.cbphWd { /* "people also ask" internal border */
		border-color: var(--bg-highlight) !important;
	}

	.JolIg { /* "people also ask" heading color */
		color: var(--text-light) !important;
	}

	.related-question-pair { /* "people also ask for" entries text color */
		color: var(--text-dark) !important;
	}

	.iOBnre>a { /* "people also search for" search link color */
		color: var(--text-link) !important;
	}

	.iOBnre>a:visited { /* "people also search for" search link visited color */
		color: var(--text-link-visited) !important;
	}

	.vk_bk, .Hg3mWc { /* money conversion widget important text */
		color: var(--text-light) !important;
	}

	.c8Zgcf, .hqAUc { /* money conversion widget other text */
		color: var(--text-dark) !important;
	}

	.Hg3mWc { /* amount input */
		border: 1px solid var(--bg-highlight) !important;
		background: var(--bg-light) !important;
	}

	.R9zNe, .uWmgv { /* currency selector */
		background-color: var(--bg-light) !important;
	}

	.J8cLR { /* currency selector */
		border: 1px solid var(--bg-highlight) !important;
	}

	.knowledge-finance-wholepage-chart__hover-card { /* diagram tooltip */
		background-color: var(--bg-light) !important;
	}

	.knowledge-finance-wholepage-chart__hover-card span { /* diagram tooltip text */
		color: var(--text-light) !important;
	}

	.NDTw3e.K7R36c { /* diagram time range */
		color:var(--text-dark) !important;
	}

	.fw-ch-sel .KWk7r.qUjgX { /* selected time range */
		background: var(--bg-light) !important;
		color: var(--text-link) !important;
	}

	.iHd7Ld { /* diagram y axis numbering */
		background: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.uch-xa-tl { /* diagram x axis numbering */
		background: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.vk_c { /* money conversion widget border */
		border: 1px solid var(--bg-highlight) !important;
	}

	.NXHf6d { /* disclaimer link */
		color: var(--text-link) !important;
	}

	.e2BEnf.U7izfe a, .wUrVib, .EZRelc, .Q2MMlc { /* image snippets link */
		color: var(--text-link) !important;
	}

	#irl_r_a:hover { /* image snippets report images hover */
		color: var(--text-light) !important;
	}

	.sFZIhb { /* PDF indicator */
		border: 1px solid var(--bg-highlight) !important;
		color: var(--text-dark) !important;
	}

	.cfBJGe { /* definition more button*/
		color: var(--text-link) !important;
	}

	.gJBeNe { /* definition title */
		color: var(--text-light) !important;
	}

	.dw-sbi, .dw-sb-btn { /* definition search for word */
		background-color: var(--bg-light) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-light) !important;
	}

	.dw-sb-cont { /* definition search bar container */
		background-color: var(--bg-highdark) !important;
	}

	.MR2UAc, .cO53qb { /* definition similar */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-light) !important;
	}

	.MR2UAc { /* definition similar active */
		color: var(--text-light) !important;
	}

	.MR2UAc:hover { /* definition similar active hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.cO53qb { /* definition similar passive */
		color: var(--text-dark) !important;
	}

	.mQo3nc { /* definition word usage */
		background-color: var(--bg-light) !important;
		color: var(--text-dark) !important;
	}

	.vfmVQ { /* definition speaker button */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.pVFdhc { /* definition horizontal dividers */
		background-color: var(--bg-highlight) !important;
	}

	.xpdxpnd .rISBZc.M4dUYb { /* definition diagrams */
		filter: invert(91.3%) hue-rotate(180deg);
	}

	.LiOdre.pOf5Yd.vk_bk.Uekwlc.hide-focus-ring.TVSh { /* definition translate to language selection */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.Z0LcW { /* people also ask result heading */
		color: var(--text-light) !important;
	}

	.GgmXif.jY7QFf { /* definition word color */
		color: var(--text-light) !important;
	}

	.thODed.Uekwlc { /* definition definition text */
		color: var(--text-light) !important;
	}

	.vdBwhd { /* definition word type */
		color: var(--text-light) !important;
	}

	.xpdxpnd { /* definition origin information text */
		color: var(--text-dark) !important;
	}

	.vk_sh { /* definition sub headings */
		color: var(--text-light) !important;
	}

	.I6TXqe { /* POI information sidebar */
		background-color: var(--bg-highdark) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-light) !important;
	}

	.I6TXqe * { /* POI information sidebar subdivider */
		border-color: var(--bg-highlight) !important;
	}

	.qrShPb { /* POI information sidebar heading */
		color: var(--text-light) !important;
	}

	.Ss2Faf, .Ss2Faf a { /* POI information sidebar subheading */
		color: var(--text-light) !important;
	}

	.Rlm17c { /* POI information sidebar profiles logos */
		background-color: var(--bg-highdark) !important;
	}

	.kno-vrt-t a { /* POI information sidebar profiles links */
		color: var(--text-link) !important;
	}

	.kno-vrt-t a:visited { /* POI information sidebar profiles links visited */
		color: var(--text-link-visited) !important;
	}

	.aypzV { /* search dropdown suggestions */
		color: var(--text-light) !important;
	}

	.mfMhoc { /* related searches heading */
		color: var(--text-light) !important;
	}

	.k8XOCe { /* related searches chips */
		background-color: var(--bg-light) !important;
	}

	.k8XOCe:hover { /* related searches chips */
		background-color: var(--bg-highlight) !important;
	}

	.aXBZVd { /* related searches magnifying glass */
		filter: invert() !important;
	}

	.s75CSd { /* related searches text */
		color: var(--text-light) !important;
	}

	.cbphWd, .gy6Qzb { /* people also ask item */
		padding-left: 1% !important;
	}

	.JolIg.mfMhoc { /* people also ask heading */
		padding-left: 1% !important;
		padding-top: 1% !important;
	}

	.HiHjCd > a { /* result bottom links */
		color: var(--text-link) !important;
	}

	.HiHjCd > a:visited { /* result bottom links visited */
		color: var(--text-link-visited) !important;
	}

	.YyVfkd { /* page number active */
		color: var(--text-light) !important;
	}

	.akqY6 { /* people also ask bottom line */
		background: var(--bg-light) !important;
	}

	.action-menu-panel { /* result link cached */
		background: var(--bg-light) !important;
	}

	.action-menu-item.selected { /* result link cached hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.AUiS2 { /* people also search for border */
		border-color: var(--bg-highlight) !important;
	}

	.eJ7tvc { /* people also search for heading */
		color: var(--text-light) !important;
	}

	.XCKyNd { /* people also search for close X */
		filter: invert() !important;
	}

	.exp-r {/* people also search for links */
		color: var(--text-link) !important;
	}

	.exp-r:visited {/* people also search for links visited */
		color: var(--text-link-visited) !important;
	}


	/* ************************************************ END results */

	/* ************************************************ BEGIN searchbar */

	.FqnKTc { /* searchbar magnifying glass separator */
		border-color: var(--bg-highlight) !important;
	}

	.RNNXgb { /* searchbar background */
		background: var(--google-search-bar-bg) !important;
		border: 1px solid var(--google-border-color) !important;
	}

	.gLFyf { /* searchbar text */
		color: var(--text-light) !important;
	}

	.aajZCb { /* search suggestions background */
		background: var(--google-search-bar-bg) !important;
	}

	.sbl1 { /* search suggestions text */
		color: var(--text-light) !important;
	}

	.xtSCL { /* search suggestions top border */
		border-top: 1px solid var(--google-border-color) !important;
	}

	.lh87ke { /* search suggestions learn more link */
		color: var(--text-link) !important;
	}

	.lh87ke:visited { /* search suggestions learn more link visited */
		color :var(--text-link-visited) !important;
	}

	.sbhl { /* search suggestions highlighted background */
		background: var(--bg-highlight) !important;
	}
	/* ************************************************ END searchbar */

	.fbar * span { /* footer bar text */
		color: var(--text-bg) !important;
	}

	.B4GxFc a:hover {
		color: var(--text-light) !important;
	}

	.cur { /* current page number */
		color: var(--text-light) !important;
	}

	.hdtb-tl:hover { /* search tools hover background */
		background: var(--bg-light) !important;
		border: 1px solid var(--google-border-color) !important;
	}

	.hdtb-tl:active { /* search tools onclick text color */
		color: var(--text-light) !important;
	}

	.hdtb-tl-sel { /* serach tools selected background */
		background: var(--bg-light) !important;
		border: 1px solid var(--google-border-color) !important;
	}

	/* ************************************************ BEGIN choose service menu */
	.EHzcec, .LVal7b { /* choose service menu background color */
		background: var(--bg-highdark) !important;
		background-color: var(--bg-highdark) !important;
	}

	.Rq5Gcb { /* choose service menu options text color */
		color: var(--text-dark) !important;
	}

	.tX9u1b:hover .Rq5Gcb { /* choose service menu options highlight text background color */
		background-color: transparent !important;
	}

	.dGrefb { /* choose service menu middle border color */
		border-bottom: 1px solid var(--google-border-color) !important;
	}

	.NQV3m { /* choose service menu more button background, border, text color */
		background-color: var(--bg-light) !important;
		border: 1px solid var(--google-border-color) !important;
		color: var(--text-link) !important;
	}

	.NQV3m:hover { /* choose service menu more button background, border, text color */
		background-color: var(--bg-highlight) !important;
	}

	.j1ei8c>a:focus { /* choose service menu item highlight */
		background-color: var(--bg-highlight) !important;
	}

	.j1ei8c>a:hover { /* choose service menu item highlight */
		background-color: var(--bg-highlight) !important;
	}
	/* ************************************************ END choose service menu */

	.med { /* related searches heading color */
		color: var(--text-light) !important;
	}

	.nVcaUb>a { /* related Searches link color */
		color: var(--text-link) !important;
	}

	.nVcaUb>a:visited { /* realted searches visited link colors */
		color: var(--text-link-visited) !important;
	}

	/* ************************************************ BEGIN account menu */
	.gb_F { /* account menu background */
		background: var(--bg-highdark) !important;
	}

	.gb_yb.gb_yb { /* account menu background */
		background-color: var(--bg-highdark) !important;
	}

	.gb_Eb { /* account menu middle borders */
		border-bottom: 1px solid var(--google-border-color) !important;
		border-top: 1px solid var(--google-border-color) !important;
	}

	.gb_Lb { /* account menu middle borders */
		border-top: 1px solid var(--google-border-color) !important;
	}

	.gb_ob.gb_pb { /* name color */
		color: var(--text-light) !important;
	}

	.gb_qb, .gb_yb.gb_2f { /* other text color */
		color: var(--text-dark) !important;
	}

	.gb_4f.gb_vb>a { /* further links */
		color: var(--text-link) !important;
	}

	.gb_4f.gb_vb>a:hover { /* further links hover */
		background-color: var(--bg-highlight) !important;
	}

	.gb_4f.gb_vb>a:visited { /* further links visited */
		color: var(--text-link-visited) !important;
	}

	.gb_Fb.gb_7f.gb_fg.gb_Pe.gb_Wc, .gb_ub.gb_6f.gbp1.gb_Pe.gb_Wc { /* button background, border color */
		background-color: var(--bg-light) !important;
		border: 1px solid var(--google-border-color) !important;
		color: var(--text-dark) !important;
	}

	.gb_Fb.gb_7f.gb_fg.gb_Pe.gb_Wc:hover, .gb_ub.gb_6f.gbp1.gb_Pe.gb_Wc:hover { /* button hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.gb_ub, .gb_Fb { /* manage google account button */
		background-color: var(--bg-light) !important;
		color: var(--text-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.gb_ub:hover, .gb_Fb:hover { /* manage google account hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.gb_Db { /* add account link */
		color: var(--text-dark) !important;
	}

	.gb_wb { /* pp/tou links */
		color: var(--text-link) !important;
	}

	.gb_wb { /* pp/tou links hover highlight */
		background-color: transparent !important;
	}
	/* ************************************************ END account menu */

	.cF4V5c { /* search settings */
		background: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.cF4V5c>a:hover { /* search settings entry hover highlight */
		background: var(--bg-highlight) !important;
	}

	/* ************************************************ BEGIN video snippets */

	g-inner-card { /* bg */
		background-color: var(--bg-highdark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.wCIBKb { /* link text color */
		color: var(--text-link) !important;
	}

	.wCIBKb:visited { /* link visited text color */
		color: var(--text-link-visited) !important;
	}

	g-fab { /* scroll button */
		background-color: var(--bg-light) !important;
		border: 1px solid var(--bg-highlight) !important;
		color: var(--text-light) !important;
	}

	g-fab:hover { /* scroll button hover */
		background-color: var(--bg-highlight) !important;
	}

	.LMMXP { /* video results title */
		color: var(--text-light) !important;
	}

	.WpKAof { /* video results entry */
		color: var(--text-link) !important;
	}

	.WpKAof:hover { /* video results entry hover highlight */
		background-color: var(--bg-light) !important;
	}

	.MXl0lf.mtqGb { /* video results view all button */
		background-color: var(--bg-light) !important;
		border-color: var(--bg-light) !important;
	}

	.MXl0lf.mtqGb:hover { /* video results view all button hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.hDeAhf { /* video results source name */
		color: var(--text-light) !important;
	}

	.VibNM:first-child { /* video results top border corner */
		border-radius: 8px;
	}
	/* ************************************************ END video snippets */

	.q.qs, .hdtb-dd-b, .hdtb-tl { /* navbar text */
		color: var(--text-dark) !important;
	}

	.Mw2I7 { /* image suggestion chips */
		background-color: var(--bg-highdark) !important;
		border: 1px solid var(--bg-highlight) !important;
		color: var(--text-dark) !important;
	}

	#isr_chc g-right-button {
		background: linear-gradient(270deg, var(--bg-dark) 10%, rgba(255,255,255,0)) !important;
	}

	#isr_chc g-left-button {
		background: linear-gradient(90deg, var(--bg-dark) 10%, rgba(255,255,255,0)) !important;
	}

	.twpSFc.mnr-c { /* ad */
		background: var(--bg-highdark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.Nfv1Lc {
		color: var(--text-dark) !important;
	}

	.twpSFc.mnr-c a {
		color: var(--text-link) !important;
	}

	.twpSFc.mnr-c a:visited {
		color: var(--text-link-visited) !important;
	}

	.XcVN5d.DgZBFd.frCXef { /* definition heading */
		color: var(--text-light) !important;
	}

	.L1jWkf.h3TRxf { /* definition "translation" (synonyms) */
		color: var(--text-light) !important;
	}

	.SDZsVb.IvF8ze { /* definition "translation" link */
		color: var(--text-link) !important;
	}

	.LiOdre.mfsgsd.pOf5Yd.hide-focus-ring.TVSh.JBcDBe { /* definition translate to dropdown */
		background: var(--bg-dark) !important;
		color: var(--text-light) !important;
		border-color: var(--bg-highlight) !important;
	}

	.LiOdre.mfsgsd.pOf5Yd.hide-focus-ring.TVSh.JBcDBe:hover { /* definition translate to dropdown hover highlight*/
		background: var(--bg-light) !important;
	}

	.LiOdre.mfsgsd.pOf5Yd.hide-focus-ring.TVSh.JBcDBe>option{ /* definition translate to dropdown items*/
		background: var(--bg-highlight) !important;
		color: var(--text-light) !important;
		border-color: var(--bg-highlight) !important;
	}

	.LiOdre.mfsgsd.pOf5Yd.hide-focus-ring.TVSh.JBcDBe>option:hover { /* definition translate to dropdown hover highlight*/
		background: var(--bg-light) !important;
	}

	.pttFI.wMcVAc { /* definition translate X to heading */
		color: var(--text-light) !important;
	}

	.Wyuude.L1jWkf { /* definition translated words */
		color: var(--text-light) !important;
	}

	.XGaHQb.VyieNc {/* definition translation word type */
		 color: var(--text-light) !important;
	}

	.glhbv.pa8yL.z1asCe.Fp7My {/* wikipedia excerpt share button */
		color: var(--text-light) !important; /* it is dimmed separately */
	}

	.wM6W7d { /* search suggestions */
		color: var(--text-light) !important;
	}

	.Eegi6c { /* music video available on */
		color: var(--text-light) !important;
	}

	.LrzXr { /* music video released date */
		color: var(--text-light) !important;
	}

	g-text-expander > a { /* text expander link */
		color: var(--text-link) !important;
	}

	.I6TXqe { /* music video padding */
		padding: 2% !important;
	}

	.k4DMHe .xXEKkb { /* see results about heading */
		color: var(--text-light) !important;
	}

	.cwUqwd { /* see results about subheading */
		color: var(--text-dark) !important;
	}

	.y8Jpof.pPLc9e.kpQuGf:hover { /* see results about hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.GmE3X.kWYf3c { /* Images for search heading */
		color: var(--text-link) !important;
	}

	.WGYX8 { /* images for search chips */
		background-color: var(--bg-highdark) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-light) !important;
	}

	.WGYX8:hover { /* images for search chips hover highlight */
		background-color: var(--bg-light) !important;
	}

	.KPV9xf { /* iamges for search extend chips */
		background-color: var(--bg-highdark) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-bg) !important;
	}

	.KPV9xf { /* iamges for search extend chips hover highlight*/
		background-color: var(--bg-light) !important;
	}

	.gyWzne.Eq0J8 > a { /* songwriter links */
		color: var(--text-link) !important;
	}

	.gyWzne.Eq0J8 > a:visited { /* songwriter links visited */
		color: var(--text-link-visited) !important;
	}

	.YsGUOb { /* People also ask expand arrow */
		filter: invert() !important;
	}

	.hwqd7e.d0fCJc.BOZ6hd > a, .C5GEUb>a,  .ZGh7Vc>a { /* people also ask links */
		color: var(--text-link) !important;
	}

	.hwqd7e.d0fCJc.BOZ6hd > a:visited, .C5GEUb>a:visited,  .ZGh7Vc>a:visited { /* people also ask links visited */
		color: var(--text-link-visited) !important;
	}

	.CBPSbf { /* about this result */
		background-color: var(--bg-light) !important;
		color: var(--text-light) !important;
	}

	.kyas6e { /* about this result subboxes */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.OAssce { /* about this result footer */
		background-color: var(--bg-light) !important;
	}

	/* ************************************************************************ END all page */

	/* ************************************************************************ BEGIN images page */
	/* ************************************************ BEGIN search bar */
	.zthhpf { /* search bar background */
		background: var(--google-search-bar-bg) !important;
		border: 1px solid var(--google-border-color) !important;
	}

	.JSAgYe { /* search bar text color */
		color: var(--text-light) !important;
	}

	.lV0vqc { /* search suggestions bg */
		background: var(--google-search-bar-bg) !important;
	}

	.w4mFte { /* search suggestions text color */
		color: var(--text-light) !important;
	}

	.fNHVKc { /* search suggestions top border */
		border-top: 1px solid var(--google-border-color) !important;
	}

	.E2oEG:hover { /* search suggestions highlight */
		background: var(--bg-highlight) !important;
	}
	/* ************************************************ END search bar */

	/* ************************************************ BEGIN nav bar / chips */
	.jZWadf { /* navbar */
		background: var(--bg-dark) !important;
	}

	.ooPrBf { /* navbar bottom border */
		border-bottom: 1px solid var(--google-border-color) !important;
	}

	.F9PbJd { /* chip */
		background-color: var(--google-search-bar-bg) !important;
		color: var(--text-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.F9PbJd.IJRrpb:hover { /* chip hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.cEW58 { /* chip scroll button */
		background-color: var(--bg-highdark) !important;
	}

	.PNyWAd.ZXJQ7c:hover, .PNyWAd.ZXJQ7c.XD1Bsc { /* Tools */
		background: var(--bg-highlight) !important;
		border: 1px solid var(--google-border-color) !important;
	}

	.PNyWAd.ZXJQ7c:active { /* onclick text color */
		color: var(--text-light) !important;
	}

	.qcTKEe { /* tools options */
		background-color: var(--bg-dark) !important;
	}

	.r9PaP { /* tools options text colors */
		color: var(--text-dark) !important;
	}

	.H1KrKd { /* tools options arrows */
		fill: var(--text-dark) !important;
	}

	.Ix6LGe { /* tools options dropdown color */
		background: var(--bg-highdark) !important;
	}

	.Hm7Qac:hover { /* tools options dropdown entry highlight */
		background-color: var(--bg-highlight) !important;
	}

	.igM9Le { /* tools options dropdown text color */
		color: var(--text-dark) !important;
	}

	.yg51vc { /* navbar bg */
		background: var(--bg-dark) !important;
	}
	/* ************************************************ END nav bar / chips */
	/* ************************************************************************ END images page */
}

@-moz-document domain(ogs.DEPRECATEDgoogle.com) {

	.LVal7b { /* google services popup bg */
		background-color: var(--bg-highdark) !important;
	}

	.EHzcec { /* google services popup border */
		border-color: var(--bg-highlight) !important;
		background-color: var(--bg-highdark) !important;
	}

	.Rq5Gcb { /* google services popup item */
		color: var(--text-dark) !important;
		background-color: transparent !important;
	}

	.tX9u1b:hover { /* google services popup item hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.dGrefb { /* google services popup horizontal separator */
		border-color: var(--bg-highlight) !important;
	}

	.NQV3m { /* google services popup more from google marketplace button */
		background-color: var(--bg-light) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-link) !important;
	}
}

@-moz-document domain(calendar.google.com) {

	body, header, .Kk7lMc-DWWcKd-OomVLb-haAclf, .tNDBE { /* left sidebar, header, right sidebar, calendar background */
		background-color: var(--bg-dark) !important;
	}

	.akJTWe, .TKMrfe { /* week number */
		background-color: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.yzYBvd { /* day number */
		color: var(--text-dark) !important;
	}

	.SGWAac { /* header bottom border */
		border-top: var(--bg-highlight) 1px solid !important;
	}

	.SaBhMc { /* create event button */
		background-color: var(--bg-light) !important;
	}

	.u5sQsb {
		color: var(--text-light) !important;
	}

	.r4nke, .gb_8d.gb_Zc, .rSoRzd { /* headings */
		color: var(--text-light) !important;
	}

	.t8qpF { /* days */
		border-right: var(--bg-highlight) 1px solid !important;
	}

	.QIadxc { /* row of days */
		border-bottom: var(--bg-highlight) 1px solid !important;
	}

	div.gboEAb { /* right sidebar */
		border-color: var(--bg-highlight) !important;
	}

	.GXlaye.qRI4pc { /* today button */
		background-color: var(--bg-light) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.GXlaye.qRI4pc:hover, .U26fgb:hover { /* today button hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.RveJvd.snByac {
		color: var(--text-light) !important;
	}

	.Cd9hpd { /* time range selector */
		background-color: var(--bg-light) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.NlWrkb.snByac {
		color: var(--text-light) !important;
	}

	.Cd9hpd:hover { /* time range selector hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.JPdR6b { /* time range selector dialog */
		background: var(--bg-highdark) !important;
	}

	.z80M1 { /* time range selector dialog text */
		color: var(--text-light) !important;
	}

	.ef2wWc { /* today */
		background-color: var(--bg-light) !important;
	}

	.g3dbUc.smECzc { /* events */
		background-color: var(--bg-highdark) !important;
		color: var(--text-light) !important;
	}

	.g3dbUc.smECzc:hover { /* events hover */
		background-color: var(--bg-highlight) !important;
	}

	.g3dbUc.KCIIIb { /* more events */
		color: var(--text-dark) !important;
	}

	.g3dbUc.KCIIIb:hover { /* more events */
		background-color: var(--bg-highlight) !important;
	}

	.OWyNBb.m1fiJb { /* sidebar calendar week number */
		background-color: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.W0m3G:not(.TUH0Sd) .r4nke { /* sidebar calendar days */
		background-color: var(--bg-dark) !important;
	}
	.W0m3G.i8dSE:not(.TUH0Sd) .r4nke { /* sidebar calendar days */
		background-color: var(--bg-light) !important;
	}
	.W0m3G:not(.TUH0Sd) .r4nke:hover { /* sidebar calendar days */
		background-color: var(--bg-highlight) !important;
	}

	.RWvJ9d { /* sidebar calendar bg */
		background-color: var(--bg-dark) !important;
	}

	.OCQPo, .GENA3c, .Gk2izd { /* day view centre bg */
		background-color: var(--bg-dark) !important;
	}

	.YvjgZe, .CIFHgc, .wyrRZc, .mmsF1c::after, .PhLhOd { /* centre border */
		border-color: var(--bg-highlight) !important;
	}

	.pCoqfc, .MANBAf { /* day view legend text color */
		color: var(--text-dark) !important;
	}

	.C5Jlgc, .MVMVEe { /* little nook at the top */
		border-color: transparent !important;
	}

	.NI2kfb { /* sidebar calenders text */
		color: var(--text-light) !important;
	}

	.kMp0We.OcVpRe:hover {
		background-color: var(--bg-light) !important;
	}

	.GENA3c { /* sidebar border */
		border-left: var(--bg-light) 1px solid !important;
	}

	.MmhHI { /* day view day number */
		color: var(--text-light) !important;
	}

	.EfQccc.Hrn1mc.EiZ8Dd::after { /* border around indented events */
		border: 1px solid var(--bg-light) !important;
	}

	.OWyNBb.m1fiJb { /* sidebar small calendar week number */
		border-color: var(--bg-highlight) !important;
	}

	.J2aUD.T8M5bd .sx5BGe::before, .SGFqbe.T8M5bd .sx5BGe::before, .J2aUD.T8M5bd .qmFsL::after, .SGFqbe.T8M5bd .qmFsL::after, .hEtGGf::after { /* gradients are useless */
		background-image: linear-gradient(to right, transparent, transparent) !important;
	}

	.v83gc, .eADW5d { /* week view bg */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.rFrNMe.Ax4B8.ULpymb.zKHdkd.Tyc9J { /* sidebar search contacts */
		background-color: var(--bg-light) !important;
	}

	.YxiWic.UMArVc, .IIB0tc .ULpymb { /* sidebar search contacts */
		background-color: var(--bg-dark) !important;
	}

	.u3WVdc.jBmls { /* sidebar search contacts context menu bg */
		background-color: var(--bg-highdark) !important;
	}

	.oKubKe[aria-selected="true"] { /* sidebar search contacts context menu hover highlight */
		background-color: var(--bg-light) !important;
	}

	.wWdzec { /* week number */
		background-color: var(--bg-light) !important;
		color: var(--text-dark) !important;
	}

	.yzYBvd { /* month view day number */
		color: var(--text-light) !important;
	}

	.yzYBvd:hover { /* month view day number hover highlight */
		background-color: var(--bg-light) !important;
	}

	.gb_ne.gb_9c { /* calendar text */
		color: var(--text-light) !important;
	}

	.uHMk6b { /* sidebar calendars unchecked box inside */
		border-color: var(--bg-dark) !important;
	}

	.JtukPc, .XOE24 { /* create event dialog bg */
		background-color: var(--bg-highdark) !important;
	}

	.ik71Ie { /* create event dialog headbar bg */
		background-color: var(--bg-light) !important;
		box-shadow: var(--bg-highlight) !important;
	}

	.shdZ7e .zHQkBf { /* create event dialog title */
		color: var(--text-light) !important;
	}

	.qmv2fc.KKjvXb { /* create event dialog type select bg */
		background-color: var(--bg-light) !important;
	}

	.qmv2fc:hover { /* create event dialog type select hover highlight */
		background-color: var(--bg-light) !important;
	}

	.kxh2c.sUvU0d.sMVRZe { /* create event dialog horizontal borders */
		border-color: var(--bg-light) !important;
	}

	.h7kDxc, .vRMGwf.oJeWuf, .WpDZC.zHQkBf, .cAP2G { /* create event dialog text */
		color: var(--text-dark) !important;
	}

	.ettIx.gHlG4 { /* create event dialog add description field */
		background-color: var(--bg-dark) !important;
		color: var(--text-light) !important;
	}

	.Ce1Y1c, .iSSROb.snByac { /* create event dialog add description field headbar buttons */
		color: var(--text-dark) !important;
	}

	.Erb9le:not(.RDPZE) .qmMNRc.y7OZL { /* create event dialog add description field headbar buttons selected */
		background-color: var(--bg-highlight) !important;
	}

	.XOE24 .AMBzld { /* create event dialog description field headbar dividers */
		border-color: var(--bg-highlight) !important;
	}

	.ETkhPe { /* create reminder dialog text */
		color: var(--text-dark) !important;
	}

	.uVccjd:not(.N2RpBe) { /* create reminder dialog all day checkbox */
		border-color: var(--bg-highlight) !important;
	}

	.Qfwgwb.zKHdkd.lwv98 { /* create task dialog textarea */
		background-color: var(--bg-dark) !important;
	}

	.LV4Pme.tL9Q4c { /* create task dialog textarea text */
		color: var(--text-light) !important;
	}

	.I7OXgf.dT3uCc.gF3fI.fNxzgd.Inn9w.iWO5td { /* change recurring event dialog */
		background-color: var(--bg-highdark) !important;
		color: var(--text-light) !important;
	}

	.LLxvl { /* schedule view text */
		color: var(--text-light) !important;
	}

	.L1Ysrb, .d3Ig7c { /* schedule view dividers */
		border-color: var(--bg-highlight) !important;
	}

	.FwR7Pc, .U26fgb.c7fp5b.FS4hgd.wXaa9.mAozAc.iWO5td { /* view select highlight */
		background-color: var(--bg-light) !important;
	}

	.KSxb4d.RKLVef:not(.F262Ye):hover { /* week view day number hover highlight */
		background-color: var(--bg-light) !important;
	}

	.p9lUpf { /* edit event bg */
		background-color: var(--bg-dark) !important;
	}

	.Kb2sf, .DyOaYd, .jZ0DTb, .HLI7qf, .FpmPAb.FpmPAb, .uArJ5e.UQuaGc.kCyAyd { /* edit event control elements bg */
		background-color: var(--bg-light) !important;
	}

	.jZ0DTb:hover, .HLI7qf:hover, .FpmPAb.FpmPAb:hover, .uArJ5e.UQuaGc.kCyAyd:hover { /* edit event buttons hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.uArJ5e.UQuaGc.kCyAyd.rhtYVe.mIlXRd { /* edit event add notifications button */
		margin-left: 0px !important;
	}

	.ULpymb .zHQkBf,.s6I1Kd, .WpDZC, .VKy0Ic, .JHD0Fd, .H1qHnc, .h7kDxc { /* add event popup location, date, name, time dropdown, all day text+ */
		color: var(--text-light) !important;
	}

	.OLw7vb { /* add event popup location suggestion dropdown element icon */
		color: var(--text-dark) !important;
	}

	.ncFHed { /* add event popup various dropdowns */
		background: var(--bg-dark) !important;
	}

	.ncFHed .MocG8c.KKjvXb, .VKy0Ic[aria-selected="true"] { /* add event popup various dropdowns highlight */
		background: var(--bg-highlight) !important;
	}

	.I7OXgf { /* discard changes dialogue */
		background-color: var(--bg-highdark) !important;
		color: var(--text-light) !important;
	}

	.gHQcAb { /* add event popup date popup  */
		background: var(--bg-dark) !important;
	}

	.IuSHYd:not(.N2RpBe) { /* custom recurrence popup weekdays not selected */
		background-color: var(--bg-light) !important;
		color: var(--text-light) !important;
	}

	.M2lnFe { /* custom recurrence popup occurrences */
		background-color: var(--bg-light) !important;
		color: var(--text-light) !important;
	}

	.WpDZC.zHQkBf, .MocG8c.LMgvRb span { /* custom recurrence popup end date, repeat every, add event popup repeat */
		color: var(--text-light) !important;
	}

	.XvhY1d { /* add event popup color picker */
		background-color: var(--bg-light) !important;
	}

	.agOyMd.Q3pZ0e * { /* view event popup name, date, time */
		color: var(--text-light) !important;
	}

	.j3nyw, .hGcgEd, .oPF3Ce { /* edit event calendar name, guest permissions, find time day name */
		color: var(--text-light) !important;
	}

	.Xo3rO { /* edit event find time border */
		border-color: var(--bg-highlight) !important;
	}

	.yEkOpe { /* edit event find time week view day dividers */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.wmCMbe { /* add event popup top bar  */
		background-color: var(--bg-light) !important;
		box-shadow: inset 0 1px 0 var(--bg-highdark) !important;
	}

	.IuSHYd.GOJTSe:not(.N2RpBe) .dobRbb:hover { /* custom recurrence popup repeat on days hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.YWILgc { /* view reminder popup divider */
		border-color: var(--bg-highlight) !important;
	}

	.cu6vzc .zHQkBf { /* edit reminder popup text input */
		color: var(--text-light) !important;
	}

	.AouyCd { /* edit reminder popup datetime background */
		background-color: var(--bg-highdark) !important;
	}

	.Y5FYJe:hover { /* view reminder top buttons hover highlight */
		background-color: var(--bg-highlight) !important;
	}

	.Kpcujb { /* edit reminder popup all day text */
		color: var(--text-light) !important;
	}

	.ndJi5d.snByac { /* edit reminder popup title placeholder */
		color: var(--text-dark) !important;
	}
}

@-moz-document domain(www.ecosia.org) {
	:root {

	}

	/* ************************************************************************ BEGIN WEB page */

	.logo-anchor path[fill="#4B4A4B"] { /* logo text */
		fill: var(--text-light) !important;
	}

	/* ************************************************ BEGIN background */
	.results-wrapper { /* page bg */
		background-color: var(--bg-dark) !important;
	}

	.search-header { /* header bg */
		background-color: var(--bg-dark) !important;
	}

	.navbar-row { /* navbar bg */
		background: var(--bg-dark) !important;
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	article.entity { /* best result bg */
		background-color: var(--bg-highdark) !important;
	}

	.search-header > .search-header-menu-group .pill { /* button bg */
		background: var(--bg-light) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-dark) !important;
	}

	.footer {
		border-top: 1px solid var(--bg-highlight) !important;
	}

	.small-footer {
		background-color: var(--bg-dark) !important;
	}

	.dropdown-menu {
		background-color: var(--bg-light) !important;
	}

	.dropdown-link {
		color: var(--text-dark) !important;
	}
	/* ************************************************ END background */

	/* ************************************************ BEGIN results */
	.result-title { /* result title */
		color: var(--text-link) !important;
	}

	.result-title:visited { /* result title visited */
		color: var(--text-link-visited) !important;
	}

	.result-snippet { /* result snippet */
		color: var(--text-dark) !important;
	}

	.entity-title { /* best result title */
		color: var(--text-light) !important;
	}

	.entity-block { /* best result text */
		color: var(--text-dark) !important;
	}

	.result-url {
		color: var(--text-green) !important;
	}

	.entity-description-more { /* read more link */
		color: var(--text-link) !important;
	}

	.entity-description-more:visited {
		color: var(--text-link-visited) !important;
	}
	/* ************************************************ END results */

	/* ************************************************ BEGIN search bar */
	.search-form-field {
		background-color: var(--bg-light) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.typeahead { /* suggestions bg */
		background-color: var(--bg-light) !important;
	}

	.typeahead-link { /* suggestion text */
		color: var(--text-light) !important;
	}

	.typeahead-link:hover { /* hover highlight */
		background: var(--bg-highlight) !important;
	}

	.search-form-input { /* search text */
		color: var(--text-light) !important;
	}

	.navbar-link {
		color: var(--text-dark) !important;
	}
	/* ************************************************ END search bar */


	a[title="Wikipedia"]>.nav-list-icon.entity-link-icon>div>svg, li[data-track-id="more_wikipedia"]>svg, li[data-track-id="more_amazon"]>svg { /* invert logo */
		filter: invert(100%) !important;
	}

	.tns-item { /* video card bg */
		background: var(--bg-highdark) !important;
	}

	.thumbnail-title { /* video card title */
		color: var(--text-link) !important;
	}

	a:visited .thumbnail-title {
		color: var(--text-link-visited) !important;
	}

	.thumbnail-publisher {
		color: var(--text-green) !important;
	}

	.video-slider-next, .video-slider-prev {
		background: var(--bg-highdark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.video-slider-next:hover, .video-slider-prev:hover {
		background: var(--bg-highlight) !important;
	}

	.video-slider-next circle, .video-slider-prev circle {
		fill: var(--bg-highdark) !important;
	}

	.more-results-link {
		color: var(--text-link) !important;
	}

	.pagination-button.active {
		color: var(--text-light) !important;
	}

	.after-results-info {
		border-top: 1px solid var(--bg-highlight) !important;
	}

	.icons-dropdown-list li:hover {
		background-color: var(--bg-highlight) !important;
	}

	.icons-dropdown-list.dropdown-menu a {
		color: var(--text-light) !important;
	}

	.entity-description-more, .entity-description-more:hover, .entity-disambiguation-title,
	.entity-disambiguation-title:hover, .entity-extra-more, .entity-extra-more:hover, .sidebar-product-ad-title,
	.sidebar-product-ad-title:hover {
		color: var(--text-link) !important;
	}

	.mw-parser-output .portal {
		border: 1px solid var(--bg-highlight) !important;
	}
	/* ************************************************************************ END WEB page */
}

@-moz-document domain(wikipedia.org) {

	body { /* sidebar bg */
		background-color: var(--bg-dark) !important;
	}

	.mw-body { /* article bg */
		background-color: var(--bg-dark) !important;
		color: var(--text-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
		border-right: none !important;
	}

	.mw-body a:not(.new) { /* article links color */
		color: var(--text-link) !important;
	}

	.mw-body a:not(.new):visited { /* article links color visited */
		color: var(--text-link-visited) !important;
	}

	a.new { /* article missing article link color */
		color: var(--text-red) !important;
	}

	.mw-parser-output table { /* table background */
		background-color: var(--bg-dark) !important;
		border: 1px var(--bg-highlight) !important;
	}

	.firstHeading, h2>.mw-headline { /* article (sub-) heading color */
		color: var(--text-light) !important;
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.noviewer[id="bksicon"]>img { /* disambiguation icon */
		filter: invert(20%);
	}

	#mw-head { /* header bg */
		background: var(--bg-dark) !important;
	}

	.vectorTabs>ul>li { /* header tabs */
		background: var(--bg-dark) !important;

	}

	.vectorTabs>ul>li:hover { /* header tabs hover highlight */
		background: var(--bg-light) !important;

	}

	.vectorTabs { /* tab divider */
		background-image: linear-gradient(to bottom, var(--bg-dark) 0, var(--bg-highlight) 100%) !important;
	}

	.vectorTabs>ul>li>a { /* header tab links */
		color: var(--text-link) !important;
		background-image: linear-gradient(to bottom, var(--bg-dark) 0, var(--bg-highlight) 100%) !important;
	}

	.vectorTabs>ul>li>a:visited { /* header tab visited links */
		color: var(--text-link-visited) !important;
	}

	.toc { /* table of contents */
		background-color: var(--bg-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.tocnumber {
		color: var(--text-link) !important;
	}

	.toctitle>h2, h3, h4, h5 { /* headings */
		color: var(--text-light) !important;
	}

	.thumbinner { /* image container */
		background-color: var(--bg-dark) !important;
		border: none !important;
	}

	.thumbimage { /* image */
		border: 1px solid var(--bg-highlight) !important;
	}

	.catlinks { /* links below sources */
		background-color: var(--bg-dark) !important;
		border: none !important;
	}

	#footer li { /* footer text */
		color: var(--text-dark) !important;
	}

	#footer a { /* footer links */
		color: var(--text-link) !important;
	}

	#footer a:visited { /* footer visited links */
		color: var(--text-link-visited) !important;
	}

	#mw-panel a { /* sidebar links */
		color: var(--text-link) !important;
	}

	#mw-panel a:visited { /* sidebar visited links */
		color: var(--text-link-visited) !important;
	}

	.mw-wiki-logo { /* logo white text */
		filter: invert(100%) !important;
	}

	.mw-wiki-logo::before { /* non inverted logo w/o text */
		content: url(https://en.wikipedia.org/static/images/project-logos/enwiki.png);
		position: absolute;
		filter: invert(100%) !important;
		left: 15px;
		top: 3px;
		height: 115px;
		overflow: hidden;
	}

	input[id="searchInput"] { /* search field */
		background-color: var(--bg-light) !important;
		color: var(--text-light) !important;

	}

	input[id="searchInput"]::placeholder { /* search field placeholder */
		color: var(--text-dark) !important;
	}

	#searchInput:focus, #simpleSearch:hover #searchInput:focus { /* search field */
		border-color: var(--bg-highlight) !important;
		-webkit-box-shadow: none !important;
		box-shadow: inset 0 0 0 1px #36c, inset 0 0 0 2px var(--bg-dark) !important;
	}


	.suggestions-results, .suggestions-result, .mw-searchSuggest-link, .suggestions-special, .special-query { /* search suggestions */
		background-color: var(--bg-light) !important;
		color: var(--text-dark) !important;
	}

	.suggestions-result:hover, .mw-searchSuggest-link div:hover { /* search suggest hover highlight  */
		background-color: var(--bg-highlight) !important;
	}

	div[id="p-personal"]>ul>li>a { /* account links */
		color: var(--text-link) !important;
	}

	.mw-ui-button { /* language button */
		background-color: var(--bg-light) !important;
		color: var(--text-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.mw-ui-button:hover { /* language button */
		background-color: var(--bg-highlight) !important;
	}

	.wikitable, .wikitable th, .wikitable td { /* table */
		background-color: var(--bg-dark) !important;
		color: var(--text-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.navbox {
		background: var(--bg-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.navbox * {
		background: var(--bg-dark) !important;
	}

	tr + tr > .navbox-abovebelow, tr + tr > .navbox-group, tr + tr > .navbox-image, tr + tr > .navbox-list {
		border-top: 2px solid var(--bg-highlight) !important;
	}

	.navbox-list {
		border-color: var(--bg-highlight) !important;
	}

	.mbox-text.plainlist {
		color: var(--text-dark) !important;
	}

	.infobox {
		color: var(--text-dark) !important;
	}

	.fn, .infobox th { /* infobox heading */
		color: var(--text-light) !important;
	}

	.mwe-popups, .mwe-popups-extract, .mwe-popups-extract * { /* link hover popup preview */
		background-color: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
	}

	.mwe-popups .mwe-popups-extract[dir=ltr]::after { /* link hover popup preview end of text fade */
		background-image: linear-gradient(to right, transparent, var(--bg-highdark) 50%) !important;
	}

	.mw-ui-icon.mw-ui-icon-small::before {
		filter: invert();
	}

	.mwe-popups-settings-icon:hover {
		background-color: var(--bg-light) !important;
	}

	.mwe-math-fallback-image-inline { /* formulas */
		filter: invert();
	}

	#ca-view, #ca-edit, #ca-history, #ca-nstab-main, #ca-talk, #ca-viewsource { /* nav bar */
		background: var(--bg-highdark) !important;
	}

	.vector-menu-content-list a { /* nav bar */
		color: var(--text-link) !important

	}

	.vector-menu-content-list a:visited { /* nav bar */
		color: var(--text-link-visited) !important;
	}

	.vector-menu-content-list .selected>a { /* nav bar */
		color: var(--text-light) !important;
	}

	.vector-menu-tabs, .vector-menu-tabs a, #mw-head .vector-menu-dropdown h3 { /* nav bar dividers */
		background-image: linear-gradient(to bottom, var(--bg-highdark) 0, var(--bg-highlight) 100%) !important;
	}

	.infobox th:not([scope="row"]) { /* infobox headings */
		background-color: var(--bg-light-blue) !important;
	}

	img[alt^="Writing cursive forms of"], img[src^="/w/extensions/wikihiero/img/"], img[alt="About this sound"], img[alt="inline"] { /* image invert*/
		filter: invert() !important;
	}

	.infobox { /* infobox bg */
		background-image: linear-gradient(to bottom, var(--bg-light), var(--bg-light)) !important;
		color: var(--text-dark) !important;
	}

	.infobox * {
		border-color: var(--bg-highlight) !important;
	}

	kbd, code { /* keyboard key, code*/
		background: var(--bg-highdark) !important;
		color: var(--text-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.nn { /* dark blue code text */
		color: var(--text-blue) !important;
	}

	li.gallerybox div.thumb { /* images */
		border: none !important;
		background-color: transparent !important;
	}

	.portal>ul { /* portal */
		background: var(--bg-light) !important;
	}

	.portal { /* portal */
		border-color: var(--bg-highlight) !important;
	}

	.vertical-navbox tbody, .vertical-navbox th, .vertical-navbox>tbody>tr:first-child>td, .vertical-navbox>tbody>tr:last-child>td { /* navigation box */
		background-color: var(--bg-light) !important;
	}

	.NavHead { /* naviagtion box topic heading */
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
		color: var(--text-light) !important;
	}

	.NavContent, .NavContent { /* navigation box topic content */
		background-color: var(--bg-light) !important;
		border: none !important;
	}

	.vertical-navbox a>span { /* navigation box heading */
		color: inherit !important;
	}

	.vertical-navbox * { /* navigation box dividers */
		border-color: var(--bg-highlight) !important;
	}

	.vertical-navbox hr { /* navigation box dividers */
		background-color: var(--bg-highlight) !important;
	}

	.vertical-navbox ul { /* navigation box list bullet */
		list-style-image: none !important;
	}

	.NavContent>div { /* navigation box topic content sub heading */
		background-color: transparent !important;
	}

	.NavContent th { /* navigation box topic content sub heading */
		color: var(--text-dark) !important;
	}

	.toctogglelabel { /* table of contents toggle */
		color: var(--text-link) !important;
	}

	.sistersitebox { /* sister site box */
		background-color: var(--bg-light) !important;
		border-color: var(--bg-highlight) !important;
	}

	img.thumbborder { /* images with border */
		border-color: var(--bg-highlight) !important;
	}

	.catlinks li { /* category links verticcal dividers */
		border-color: var(--bg-highlight) !important;
	}

	.vector-menu-portal h3 { /* left sidebar horizontal dividers */
		background-image: linear-gradient(to right, var(--bg-dark) 0, var(--bg-highlight) 33%, var(--bg-highlight) 66%, var(--bg-dark) 100%) !important;
	}

	.mwe-math-fallback-image-display { /* formulas */
		filter: invert();
	}

	.equation-box { /* equation box */
		background-color: var(--bg-dark) !important;
	}

	.infobox-image > .ib-prob-dist-image { /* infobox image heading */
		background-color: var(--bg-highdark);
	}

	#ca-watch > a { /* Star */
		background-color: var(--bg-highdark);
	}
}

/* Old code for github which is obsolete now that github has its own dark mode */
@-moz-document domain(definitelynot-github.com) {

	body {
		background: var(--bg-dark) !important;
		color: var(--text-dark) !important;
	}

	.bg-gray-light { /* header */
		background: var(--bg-dark) !important;
	}

	.pagehead h1 a { /* header repo name */
		color: var(--text-link) !important;
	}
	.pagehead {
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.text-gray-dark { /* repo description */
		color: var(--text-dark) !important;
	}

	.Box, .Box-header { /* readme */
		background: var(--bg-dark) !important;
		border: 1px solid var(--bg-highlight) !important;
	}

	.Box-body {
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.border-top {
		border-top: 1px solid var(--bg-highlight) !important;
	}

	table.files { /* repo */
		background : var(--bg-dark) !important;
	}

	table.files tr.js-navigation-item.navigation-focus td {
		background: var(--bg-highlight) !important;
	}

	table.files td {
		border-top: 1px solid var(--bg-highlight) !important;
	}

	table.files a.js-navigation-open {
		color: var(--text-link) !important;
	}

	.repository-content path { /* icons */
		fill: var(--text-dark) !important;
	}

	.overall-summary, .repository-lang-stats-graph {
		border: 1px solid var(--bg-highlight) !important;
	}

	.footer a { /* footer links */
		color: var(--text-link) !important;
	}

	.reponav-item, .reponav-item .Counter {
		color: var(--text-dark) !important;
	}

	.reponav-item:focus, .reponav-item:hover, .reponav-item:hover .Counter {
		color: var(--text-light) !important;
	}

	.markdown-body pre { /* code block bg */
		background: var(--bg-highdark) !important;
	}

	.markdown-body img { /* links for some reason */
		background-color: var(--bg-dark) !important;
	}

	.markdown-body pre span { /* code highlighting brightening */
		filter: brightness(250%);
	}

	.markdown-body table tr { /* tables */
		background-color: var(--bg-light) !important;
	}

	.markdown-body table tr:nth-child(2n) { /* second rows of tables */
		background-color: var(--bg-dark) !important;
	}

	.markdown-body table td, .markdown-body table th { /* table borders */
		border: 1px solid var(--bg-highlight) !important;
	}

	blockquote { /* quote block */
		color: var(--text-dark) !important;
	}

	.markdown-body a {
		color: var(--text-link) !important;
	}

	.markdown-body a:visited {
		color: var(--text-link-visited) !important;
	}

	.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { /* headers */
		color: var(--text-light) !important;
	}

	.gh-header {
		background-color: var(--bg-dark) !important;
		color: var(--text-light) !important;
	}

	.reponav-item.selected {
		background-color: var(--bg-light) !important;
		border-color: var(--text-red) var(--bg-highlight) transparent !important;
	}

	summary, .social-count, form button { /* statistics buttons */
		background: var(--bg-light) !important;
		color: var(--text-light) !important;
	}

	summary:hover, .social-count:hover, form button:hover {
		background: var(--bg-highlight) !important;
	}

	.filter-bar {
		background-color: var(--bg-dark) !important;
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.form-control, .form-select {
		border: 1px solid var(--bg-highlight) !important;
		background: var(--bg-light) !important;
		color: var(--text-dark) !important;
	}

	.form-control::placeholder, .form-select::placeholder {
		color: var(--text-dark) !important;
	}

	clipboard-copy {
		background: var(--bg-light) !important;
	}

	clipboard-copy:hover {
		background: var(--bg-highlight) !important;
	}

	.Box a {
		color: var(--text-link) !important;
	}

	.Box a:visited {
		color: var(--text-link-visited) !important;
	}

	.Box-row {
		border-top: 1px solid var(--bg-highlight) !important;
	}

	.markdown-body hr { /* horizontal rule */
		background-color: var(--bg-highlight) !important;
	}
}

@-moz-document domain(docs.google.com) {
	.kix-appview-editor {
		background: var(--bg-dark) !important;
	}

	.left-sidebar-container {
		background-color: var(--bg-dark) !important;
	}

	.navigation-item-content:not(.navigation-item-level-0) {
		color: var(--text-dark) !important;
	}

	.navigation-item-content.navigation-item-level-0 {
		color: var(--text-light) !important;
	}

	.navigation-item-content:hover {
		color: var(--text-light) !important;
		background: var(--bg-light) !important;
	}

	.docos-anchoredreplyview {
		background-color: var(--bg-light) !important;
	}

	.docos-anchoredreplyview-authortimestamp > *, .docos-replyview-body.docos-anchoredreplyview-body,
		.docos-input-textarea {
		color: var(--text-light) !important;
	}

	.docos-input {
		background-color: var(--bg-light) !important;
	}

	.goog-inline-block.jfk-button.jfk-button-standard.docos-input-cancel {
		background: var(--bg-highdark) !important;
	}

	/* header */
	#docs-chrome, .docs-material #docs-header .docs-titlebar-buttons {
		background: var(--bg-dark) !important;
	}

	.docs-title-input {
		background-color: var(--bg-highdark) !important;
	}

	.docs-title-input-label {
		color: var(--text-light) !important;
	}

	.menu-button {
		color: var(--text-light) !important;
	}

	.menu-button:hover {
		background-color: var(--bg-light) !important;
	}

	#docs-toolbar-wrapper {
		background-color: var(--bg-dark) !important;
	}

	.docs-gm #docs-toolbar-wrapper {
		border-top: 1px solid var(--bg-highlight) !important;
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.docs-icon-img-container.docs-icon-img.docs-icon-undo {
		filter: invert();
	}

	.goog-toolbar-menu-button, .goog-toolbar-button {
		background-color: var(--bg-light) !important;
		color: var(--text-light) !important;
	}

	.goog-toolbar-menu-button:hover, .goog-toolbar-button:hover {
		background-color: var(--bg-highlight) !important;
	}

	.docs-ruler {
		background-color: var(--bg-dark) !important;
	}

	.docs-ruler-face {
		background-color: var(--bg-light) !important;
	}

	.docs-ruler-face-number {
		color: var(--text-dark) !important;
	}

	.docs-horizontal-ruler {
		border-bottom: 1px solid var(--bg-highlight) !important;
	}

	.docs-vertical-ruler {
		border-right: 1px solid var(--bg-highlight) !important;
	}

	.goog-toolbar-combo-button {
		background-color: var(--bg-light) !important;
	}

	.goog-toolbar-combo-button-input {
		color: var(--text-light) !important;
	}

	#fontSizeSelect, #fontSizeDecrement, #fontSizeIncrement {
		border-color: var(--bg-highlight) !important;
	}

	.docs-gm .goog-toolbar-separator.goog-inline-block {
		border-left: 1px solid var(--bg-highlight) !important;
	}

	.app-switcher-button-icon-background {
		background-color: var(--bg-light) !important;
	}

	.docs-explore-widget {
		background-color: var(--bg-light) !important;
	}

	.docs-explore-widget-button-inner-box.goog-inline-block {
		filter: invert();
	}

	/* slides */

	#workspace-container, #speakernotes-workspace, .docs-gm .filmstrip, #slides-view, .companion-app-switcher-container {
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	#speakersnote-workspace svg {
		filter: invert();
	}

	.punch-filmstrip-thumbnail-pagenumber {
		fill: var(--text-light) !important;
	}

	.punch-filmstrip-selected-thumbnail-pagenumber {
		fill: var(--text-dark) !important;
	}

	#speakernotes-dragger {
		background-color: var(--bg-light) !important;
		border-color: var(--bg-highlight) !important;
	}

	#speakernotes-dragger:hover {
		background-color: var(--bg-highlight) !important;
	}

	#sketchy-vertical-ruler, #sketchy-horizontal-ruler {
		border-color: var(--bg-highlight) !important;
	}

	.punch-filmstrip-scroll {
		border-color: var(--bg-highlight) !important;
	}

	#filmstrip-controls, .punch-filmstrip-visibility-toggle-icon-container {
		background-color: var(--bg-dark) !important;
		border-color: var(--bg-highlight) !important;
	}

	.punch-filmstrip-controls-view-tab-bar .goog-tab-hover {
		background-color: var(--bg-highlight) !important;
	}

	.punch-filmstrip-visibility-toggle-icon-container circle {
		fill: var(--bg-light) !important;
	}

	.punch-filmstrip-controls-icon {
		filter: invert();
	}


}